* {
  margin: 0;
  padding: 0;
}
/*telas para mobile-first, ou seja, celulares menores*/
@media (max-width: 600px) {
  body {
    background: linear-gradient(450deg, rgb(85, 84, 84), rgb(77, 78, 79));
    font-style: italic;
  }
  header {
    background: linear-gradient(350deg, rgb(251, 238, 116), rgb(78, 167, 205));
    margin-top: -90px;
  }
  nav {
    padding-right: 82px;
  }
  .nav__espac {
    background-color: white;
    padding-right: 39.2px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  ::placeholder {
    font-style: italic;
  }
  .conteudo__title {
    position: relative;
    right: 410px;
    bottom: -80px;
  }
  .conteudo__answer {
    position: relative;
    right: 320px;
    top: -20px;
  }
  .article__back {
    position: relative;
    top: -20px;
  }
  .article__login {
    color: white;
    position: relative;
    bottom: -90px;
    font-size: 20px;
    background-color: rgb(109, 179, 241);
    border-radius: 10px;
    display: grid;
    justify-content: center;
  }

  .article__back {
    position: relative;
    right: 230px;
  }
  .article__respo {
    opacity: 0%;
  }
  .texto__nos {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  p a {
    display: grid;
    justify-content: center;
  }
}

/*telas maiores como tablet, desktops e etc... */

@media (min-width: 601px) and (max-width: 768px) {
  body {
    background: linear-gradient(450deg, rgb(181, 153, 149), rgb(147, 217, 248));
    font-style: italic;
    font-display: none;
  }
  header {
    background: linear-gradient(350deg, rgb(251, 238, 116), rgb(78, 167, 205));
    margin-top: -30px;
  }

  .conteudo__title {
    position: relative;
    right: 276px;
    bottom: -40px;
  }
  .conteudo__answer {
    position: relative;
    right: 107px;
    bottom: 25px;
  }
  nav {
    padding-right: 81px;
  }
  .article__login {
    color: white;
    position: relative;
    bottom: -90px;
    font-size: 20px;
    background-color: rgb(109, 179, 241);
    border-radius: 10px;
    display: grid;
    justify-content: center;
  }
  .nav__espac {
    background-color: white;
    padding-right: 38.4px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  article {
    position: relative;
    right: 90px;
  }
  .texto__nos {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }
  p a {
    display: grid;
    justify-content: center;
  }

  .article__respo {
    opacity: 0%;
  }
}

@media (min-width: 769px) and (max-width: 935px) {
  body {
    background: linear-gradient(450deg, rgb(187, 238, 131), rgb(44, 192, 255));
  }
  header {
    background: linear-gradient(350deg, rgb(251, 238, 116), rgb(78, 167, 205));
    margin-top: -45px;
  }


  .conteudo {
    display: grid;
    grid-template-columns: 2fr;
  }
  .conteudo__title {
    position: relative;
    right: 250px;
    top: 50px;
  }

  .article__back {
    position: relative;
    top: -40px;
    left: -20px;
  }

  .article__login {
    color: white;
    position: relative;
    bottom: -90px;
    font-size: 20px;
    background-color: rgb(109, 179, 241);
    border-radius: 10px;
    display: grid;
    justify-content: center;
  }

  nav {
    padding-right: 100px;
  }
  .nav__espac {
    background: linear-gradient(250deg, rgb(187, 238, 131), rgb(63, 160, 202));
    padding-right: 57px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(34, 34, 34);
  }
  .article__respo {
    opacity: 0%;
  }
}

@media (min-width: 936px) and (max-width: 1024px) {
  body {
    background: linear-gradient(350deg, rgb(251, 109, 42), rgb(78, 167, 205));
  }
  header {
    background: linear-gradient(350deg, rgb(251, 187, 58), rgb(78, 167, 205));
    margin-top: -20px;
  }
  .conteudo__title {
    position: relative;
    left: -280px;
    bottom: -20px;
  }
  .conteudo__answer {
    position: relative;
    right: -70px;
    bottom: 25px;
  }
  nav {
    padding-right: 82px;
  }
  .nav__espac {
    background-color: white;
    padding-right: 57px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
.img{
    margin-top: -40px;
  }

  .article__login {
    color: white;
    position: relative;
    bottom: -90px;
    font-size: 20px;
    background-color: rgb(109, 179, 241);
    border-radius: 10px;
    display: grid;
    justify-content: center;
  }

  nav {
    padding-right: 100px;
  }
  .article__respo {
    opacity: 0%;
  }
}
@media (min-width: 1025px) {
  body {
    background-color: rgb(239, 208, 168);
  }
  header{
    padding-left: 10px;
    padding-top:20px;
  }
.conteudo__title{
  margin-left: 620px;
  }
.conteudo__answer{
  margin-left: 730px;
    }
  .img{
    margin-top: 10px;
  } 

  .nav {
    width: 26.4%;
  }
  .button__azul {
    margin-top: -10px;
  }

  .nav__espac {
    background-color: rgb(239, 208, 168);
    padding-right: 58px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
  }
  article{
    position: relative;
    margin-left: -40px;
  
  }

.lembrar--me{
  position: absolute;
  margin-top: 309px;
  margin-left: 228px;
  }


  .article__login {
    opacity: 0%;
  }
}


header {
  background: linear-gradient(350deg, rgb(251, 187, 58), rgb(78, 167, 205));
  padding-bottom: 45px;
}
nav {
  grid-area: nav;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: linear-gradient(350deg, rgb(22, 231, 246), rgb(78, 167, 205));
  padding-left: 10px;
  margin-left: 0.2px;
  margin-right: 1484px;
  row-gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
::placeholder {
  font-style: normal;
}
.linha {
  border-bottom: 2px solid rgb(60, 51, 51);
}
.article {
  margin-top: 40px;
  margin-bottom: 40px;
  background: rgb(120, 119, 119);
  border-radius: 5px;
  padding-bottom: -50px;
  padding-left: 0;
  padding-right: 10;
  padding-top: 0;
}
.register--link{
  position: relative;
  margin-top: -50px;
  margin-bottom: 10px;
}
li {
  margin-top: 10px;
  margin-bottom: 9px;
}
main {
  display: grid;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
p a {
  display: grid;
  justify-content: center;
}
.footer__final {
  background-color: aliceblue;
  display: grid;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
