* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::placeholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo__cor{
  box-shadow: none;
  padding-top: 15px;
}
.conteudo__title{
  color: white;
  margin-left: 635px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px
}

.conteudo__answer{
  color: white;
  margin-left: 755px;
  margin-top: 19px;
}


img{
  margin-inline-start: 3px;
  position: absolute;
  top: 45px;
}
.img__primario{
  width: 111px;
  border-radius: 20px; 
  margin-bottom: 0px;
   margin-top: -20px;
}
.nav__font{
  color: rgb(242, 251, 251);
}
.article{
  grid-template-columns: column;
  justify-content: center;
  }
.article__respo{

  margin-left: 46px;
  margin-bottom: 25px;

}

.article__respo{
 position: relative;
 top: -90px;

}

.article__back{
  margin-left: 500px;
  margin-right: 500px;
  display: grid;
  grid-template-columns: column;
  row-gap: 16px;
}
.article__primario{
  color: rgb(244, 243, 243);
  font-size: large;
  padding-left: 20px;
  padding-right: 5px;
  position: relative ;
  top: -80px;

}
.article__secundario{
  color: rgb(240, 239, 239);
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
    position: relative ;
  top: -80px;

}

.button{
  border-radius: 12px;
  width: 50%;
  margin-left: 38px;
  position: relative;
  top: -50px;
}
.button__azul{
  color: rgb(59, 59, 186);

}
.button__grey{
  margin-top: 10px;
  margin-left: 1408px;
  width: 5%;
}
.article__amostra--primario{
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative ;
  top: -80px;

}
.article__amostra--secundario{
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative ;
  top: -80px;
}
.texto__texto--titular{
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: large;
}
.texto__nos{
  display: grid;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
}




